<html>
<head>
     <%include partials/includeHead.ejs %>
</head>
<body>
    <%include partials/includeMenu.ejs %>
  <BR><BR><BR>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 panel panel-default">
        <p class="help-block text-center">
            <medium><%= person%>, Here you are in the city of <%= cityName%> </medium>
        </p>
        <p class="help-block text-center">
            <small><%= cityName%> : <%= tagline%></small>
        </p>
        <p class="help-block text-center">
            <img src='/images/<%=cityName%>.jpg'></img>
        </p>
      </div>
    </div>
  </div>
    <% include partials/includeFoot.ejs %>
 </body>
 </html>

